<nb-layout>
    <nb-layout-column>
        <div id="fullpage">
            <section
              class="section" 
              style="background-image: url('{{realEstate1?.photos[0]}}');">
              <div class="dados">
                    {{ realEstate1?.street }}, {{ realEstate1?.number }}<br>
                    {{ realEstate1?.neighborhood }}, {{ realEstate1?.city }}/{{ realEstate1?.state }}<br>
                    Aluguel: {{ realEstate1?.valueToRent }}<br>
                    Venda: {{ realEstate1?.valueToSell }}<br>
                    <div *ngFor="let atributo of realEstate1?.attributes">
                        {{ atributo.name }}: {{ atributo.value }}
                    </div>
                    Origem: {{ realEstate1?.sourcePortal }}
                </div>
            </section>
            <section
            class="section" 
            style="background-image: url('{{realEstate2?.photos[0]}}');">
            <div class="dados">
                  {{ realEstate2?.street }}, {{ realEstate2?.number }}<br>
                  {{ realEstate2?.neighborhood }}, {{ realEstate2?.city }}/{{ realEstate2?.state }}<br>
                  Aluguel: {{ realEstate2?.valueToRent }}<br>
                  Venda: {{ realEstate2?.valueToSell }}<br>
                  <div *ngFor="let atributo of realEstate2?.attributes">
                      {{ atributo.name }}: {{ atributo.value }}
                  </div>
                  Origem: {{ realEstate2?.sourcePortal }}
              </div>
          </section>
          <section
          class="section" 
          style="background-image: url('{{realEstate3?.photos[0]}}');">
          <div class="dados">
                {{ realEstate3?.street }}, {{ realEstate3?.number }}<br>
                {{ realEstate3?.neighborhood }}, {{ realEstate3?.city }}/{{ realEstate3?.state }}<br>
                Aluguel: {{ realEstate3?.valueToRent }}<br>
                Venda: {{ realEstate3?.valueToSell }}<br>
                <div *ngFor="let atributo of realEstate3?.attributes">
                    {{ atributo.name }}: {{ atributo.value }}
                </div>
                Origem: {{ realEstate3?.sourcePortal }}
            </div>
        </section>
        </div>
    </nb-layout-column>
    <nb-layout-footer>
        <nb-icon icon="close" status="danger"></nb-icon>
        <nb-icon icon="heart" status="success"></nb-icon>
    </nb-layout-footer>
</nb-layout>