<header>
    <i class="filtros">
        <img src="./../../assets/icons/filtros.svg" alt="">
    </i>
    <i class="user">
        <img src="./../../assets/icons/person.svg" alt="">
    </i>
</header>

<swiper 
    class="mySwiper swiper-v"
    [direction]="'vertical'"
    [navigation]="true"
    [virtual]="true"
    (slideChange)="realEstateChanged($event)"
  >


    <ng-template swiperSlide *ngFor="let slide of realEstates">
        <swiper
          class="mySwiper2 swiper-h"
          [direction]="'horizontal'"
          [pagination]="{
            clickable: true
          }"
        >
          <ng-template swiperSlide *ngFor="let photo of slide!.photos"><img [src]="photo" alt=""></ng-template>

        </swiper>
        <div class="detalhes" (click)="toggleCollapse()">
            <div *ngIf="isCollapsed">
                <p>A venda por <strong>{{ slide!.priceSale | currency:'BRL' }}</strong>.</p>
            </div>
            <div *ngIf="!isCollapsed">
                <p>Preço de Venda: <strong>R$ {{ slide!.priceSale | currency:'BRL' }}</strong></p>
                <p>Endereço: {{slide!.street}}, {{slide!.number}}, {{slide!.neighborhood}}</p>
                <p>Cidade: {{slide!.city}} Estado: {{slide!.state}}</p>
            </div>

        </div>
    </ng-template>
</swiper>

<div class="controlers-action">
    <i class="dislike">
        <img src="./../../assets/icons/Dislike.svg" alt="">
    </i>
    <i class="like">
        <img src="./../../assets/icons/Like.svg" alt="">
    </i>
</div>