@import "~swiper/css";
@import "~swiper/css/pagination";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
    position: fixed;
    top: 5%;
    width: 100%;
    z-index: 2;
}

.filtros {
    position: fixed;
    left: 10%;
}

.user {
    position: fixed;
    right: 10%;
}

div.controlers-action {
    position: fixed;
    bottom: 2%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

div.controlers-action i {
    margin: 15%;
}

.detalhes {
    position: absolute;
    width: 80%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
    bottom: 18%;
    margin: 2% 10%;
    z-index: 2;
    text-align: center;
}
 

span {
    margin: 2%;;
}

.atributos {
    columns: 2;
}



