<div id="fullpage">
    <imovel-ideal-real-estate 
      class="section" 
      style="background-image: url('{{realEstate1?.photo}}');" 
      name="{{ realEstate1?.name }}">
    </imovel-ideal-real-estate>
    <imovel-ideal-real-estate 
      class="section"  
      style="background-image: url('{{realEstate2?.photo}}');"  
      name="{{ realEstate2?.name }}">
    </imovel-ideal-real-estate>
    <imovel-ideal-real-estate 
      class="section"
      style="background-image: url('{{realEstate3?.photo}}');" 
      name="{{ realEstate3?.name }}"
    >
    </imovel-ideal-real-estate>
</div>